!!! 5
html
    head
        title #{title}
        
        link(rel='stylesheet', href='#{clientpath}deckem.css')
        link(rel='stylesheet', href='#{clientpath}stage.css')
        link(rel='stylesheet', href='#{clientpath}themes/#{theme}.css')
        link(rel='stylesheet', href='#{clientpath}custom.css')
    body
        div.sp-screen
            div.sp-pane.deck-container
                !{deck}
    
                p.deck-status
                    span.deck-status-current
                    span /
                    span.deck-status-total
                    
        .sp-stage
            .sp-floor
            
        .sp-audience
        
        script(src='#{clientpath}deckem.js')
        script
            /*
            $.deck.defaults.keys = {
              next: [],
              previous: []
            };
            */
        
            $(function() {
                $.deck('.slide');
            });
   